/*THIS STYLESHEET WAS CREATED BY YASH & ARSH FOR WEBDEVELOPMENT WORKSHOP SHOWCASE */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    background-color: #f5f7fd ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   a {
    text-decoration: none;


